<div class="content table">
  <mat-error *ngIf="TabelErrorMessage">{{TabelErrorMessage}}</mat-error>

  <mat-card class="title">Orders table </mat-card>

  <app-table-filters (filter)="getFilteredOrders($event)" (getCsv)="getCsv($event)">
  </app-table-filters>

  <div class="mat-elevation-z8">
    <mat-progress-bar *ngIf="progressBarMode" mode="indeterminate"></mat-progress-bar>
    <table mat-table [dataSource]="TabledataSource" matSort>

      <ng-container matColumnDef="customerFullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name</th>
        <td mat-cell *matCellDef="let element"> {{element.customerFullName}}</td>
      </ng-container>

      <ng-container matColumnDef="payment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price</th>
        <td mat-cell *matCellDef="let element"> {{element.payment}}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="date-header">Order Date</th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef matSortDisabled>
          <a matTooltip="Create new order" routerLink="/create-order" mat-icon-button class="btn-action add"
            aria-label="Example icon button with a Delete icon" mat-button>
            <mat-icon>add</mat-icon>
          </a>
        </th>

        <td mat-cell *matCellDef="let element" class="Cell">
          <button matTooltip="Delete orded" (click)="openDeleteOrderDialog(element.id)" mat-icon-button
            class="btn-action" aria-label="Example icon button with a Delete icon">
            <mat-icon>deletetwotone</mat-icon>
          </button>

          <button matTooltip="Order details" (click)="openInfoDialog(element.id)" mat-icon-button class="btn-action"
            aria-label="Example icon button with a Delete icon">
            <mat-icon>info</mat-icon>
          </button>
          <a [routerLink]="'/edit-order/'+element.id">
            <button matTooltip="Edit order" mat-icon-button class="btn-action"
              aria-label="Example icon button with a Delete icon">
              <mat-icon>edittwotone</mat-icon>
            </button>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>

  <!-- Order delete dialog -->
  <ng-template #deleteOrderDialog>
    <div>
      <h1>Are you sure you want to delete?</h1>
    </div>
    <button mat-button cdkFocusInitial (click)="DeleteDialogCancelClick()">Cancel</button>
    <button mat-button (click)="DeleteDialogDeleteClick()">Delete</button>
    <div *ngIf="DeleteDialogErrorMessage" class="error-message">
      {{DeleteDialogErrorMessage}}
    </div>
  </ng-template>
</div>