@use '../../styles/global-style.scss' as global;
$breakpoint-mobile: 960px;

@mixin mobile {
    @media (max-width: $breakpoint-mobile) {
        @content;
    }
}

a {
    margin: 20%;

    @include mobile {
        margin: 5%;
    }
}

.btn-menu {
    display: none;

    @include mobile {
        display: block;
    }
}

.dropdown-hidden {
    @include mobile {
        @include global.hide-element;
        // display: none;
        // position: absolute;
        // left: -999px;
    }
}

.toolbar {
    vertical-align: middle;

    @include mobile {
        display: table-cell;
    }
}

@include mobile {
    .nav-list {
        display: flex;
        flex-direction: column;
    }

    .dropdown-hidden {
        display: none;
        position: absolute;
        left: -999px;
    }
}

.out-of-stock-list {
    position: absolute;
    top: 123px;

    // background-color: cadetblue;
    .item {
        margin-top: 5%;
        color: red;
    }
}

.out-of-stock-item-card {
    width: 100%;

    .message {
        color: red;
    }
}

.notifications-item {
    color: black;
}