table {
  width: 100%;
}

.btn-action {
  color: #3f51b552;
}

.add {
  margin-left: 7%;
}

.paginator {
  // padding-right: 30%;
}

.content {
  // padding-inline: 6%;
  padding-top: 4%;
}

.error-message {
  color: red;
}

.Cell {
  width: 30%;
}

.table {
  // width: 50%;
  // padding-left: 20%;

  @media (min-width: 1400px) {
    width: 50%;
    padding-left: 20%;
  }

  @media (min-width: 2000px) {
    width: 70%;
    padding-left: 15%;
  }
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.phone-link{
  color: black;
}