<div class="phone-number-wrapper">
    <form [formGroup]="phoneNumberForm" class="phone-number-form">

        <mat-form-field class="prefix-form-field">
            <mat-label>Prefix</mat-label>
            <mat-select formControlName="prefix">
                <mat-option *ngFor="let phoneNumberType of phoneNumberTypes" [value]="phoneNumberType.prefix">
                    {{phoneNumberType.prefix}}</mat-option>
            </mat-select>
            <mat-error *ngIf="phoneNumberForm.get('prefix')?.hasError('required')">required</mat-error>
        </mat-form-field>

        <strong><span>&ndash;</span></strong>

        <mat-form-field class="number-form-field" matTooltip="{{numberControlToolTipMessage}}"
            [matTooltipDisabled]="!numberControlToolTipMessage">
            <mat-label>Number</mat-label>

            <input (blur)="numberControlBlur()" OnlyNumber [maxlength]="7" #number formControlName="number" matInput
                placeholder="{{'1'.repeat(7)}}">

            <mat-icon matSuffix>phone</mat-icon>

            <mat-error *ngIf="phoneNumberForm.get('number')?.hasError('pattern'); else lenError;">Please enter
                valid phone number
            </mat-error>

            <ng-template #lenError>
                <mat-error *ngIf="phoneNumberForm.get('number')?.hasError('minlength')">
                    The number must contain 7 digits</mat-error>
            </ng-template>

            <mat-error>
                <ng-content></ng-content>
            </mat-error>
        </mat-form-field>
    </form>
</div>