<h1 mat-dialog-title>Create new product </h1>
<div mat-dialog-content>
    <form [formGroup]="ProductForm">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Description</mat-label>
                    <input type="text" matInput formControlName="Description">
                    <mat-error *ngIf="ProductForm.get('Description')?.invalid">
                        Description is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Quantity</mat-label>
                    <input type="number" matInput formControlName="Quantity" min="1">
                    <mat-error *ngIf="ProductForm.get('Quantity')?.invalid">
                        Quantity is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Price</mat-label>
                    <input type="number" matInput formControlName="Price" min="0.01" step="0.01">
                        <mat-error *ngIf="ProductForm.get('Price')?.invalid">
                            Price is <strong>required</strong>
                        </mat-error>

                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
        <div *ngIf="ServerErrorMessage" class="error-message">
            {{ServerErrorMessage}}
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="CancelClick()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="CreateClick()">Create</button>
</div>