<div class="filters">
    <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="dateRange" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start
                date">
            <input matEndDate formControlName="end" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error
            *ngIf="dateRange.controls['start'].hasError('matStartDateInvalid')">Invalid
            start date</mat-error>
        <mat-error
            *ngIf="dateRange.controls['end'].hasError('matEndDateInvalid')">Invalid
            end date</mat-error>
    </mat-form-field>
    
    <form [formGroup]="filtersForm" class="filtersForm">

        <mat-form-field appearance="standard">
            <mat-label>Product Name</mat-label>

            <mat-spinner class="loading-spinner" *ngIf="isProductsLoading"
                [diameter]="20"></mat-spinner>

            <input type="text" aria-label="Number" matInput
                [matAutocomplete]="productsAuto"
                formControlName="productNameControl">

            <mat-autocomplete autoActiveFirstOption
                #productsAuto="matAutocomplete">

                <mat-option *ngFor="let product of productsAutoCompleteData"
                    [value]="product.description">
                    {{product.description}}
                </mat-option>

            </mat-autocomplete>

            <!-- <mat-error *ngIf="filtersForm.get('productNameControl')?.invalid">
                <span
                    *ngIf="filtersForm.controls['productNameControl'].hasError('not-found') &&
                                                            !(filtersForm.controls['productNameControl'].hasError('required'))">
                    Please select a product from the <strong>list</strong>
                </span>

                <span *ngIf="filtersForm.controls['productNameControl'].hasError('required')">
                    Product is <strong>required</strong>
                </span>

            </mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Customer Name</mat-label>

            <mat-spinner class="loading-spinner" *ngIf="isCustomersLoading"
                [diameter]="20"></mat-spinner>

            <input type="text" aria-label="Number" matInput
                [matAutocomplete]="customersAuto"
                formControlName="customerNameControl">

            <mat-autocomplete autoActiveFirstOption
                #customersAuto="matAutocomplete">

                <mat-option *ngFor="let customer of customersAutoCompleteData"
                    [value]="customer.firstName + ' ' + customer.lastName">
                    {{customer.firstName + ' ' + customer.lastName}}
                </mat-option>

            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Customer type</mat-label>
            <mat-select formControlName="customerTypeControl" name="food">
                <mat-option value="all">All</mat-option>
                <mat-option *ngFor="let type of getCustomersTypse()"
                    [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>



    <button mat-stroked-button class="btn" (click)="btnFilterClick()">
        {{btnfilterText}}
    </button>

    <button matTooltip="Export as excel" mat-icon-button class="btn"
        (click)="btnGetCsvClick()">
        <!-- <mat-icon toll>file_download</mat-icon> -->
        <mat-icon toll>sim_card_download</mat-icon>
    </button>
</div>